num-selector.min {
	.common-shopnum {
		height:32px;
		padding: 0 40px;
		margin-bottom: 10px;
		ion-icon {
			width:40px;
			height:32px;
			line-height: 32px;
		}
		input {
			height: 32px;
		}
	}
}
.common-shopnum {
	position: relative;
	display: inline-block;
	border: 1px solid #c7c7c7;
  height: 40px;
  background: #fff;
	padding: 0 50px;
	overflow: hidden;
	max-width: 200px;
	vertical-align: middle;
	margin-right: 10px;
	input {
		display: block;
		width: 100%;
		padding: 0 10px;
		height:40px;
		border: 0;
		font-size: 18px;
		color:#333;
		text-align: center;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button{
			-webkit-appearance: none !important;
		}
	}
	ion-icon {
		position: absolute;
		top:0;
		display: block;
		height: 40px;
    width: 50px;
    line-height: 40px;
    font-size: 24px;
		text-align: center;
    color: #6b6b6b;
		cursor: pointer;
		&.common-btnshopremove {
			left:0;
			border-right: 1px solid #c7c7c7;
			&.active {
				color: #adadad;
    		background: #f1f1f1;
			}
		}
		&.common-btnshopadd {
			right:0;
			border-left: 1px solid #c7c7c7;
		}
		&:hover {
			background: rgb(250,250,250);
		}
	}
}
